.TableHeading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.Btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	border: 2px solid transparent;
	border-radius: 5px;
	background-color: #33DCFF;
	text-decoration: none;
	height: 35px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	transition: all .4s;
}

.Pagination {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	list-style-type: none;
}

.Pagination li + li {
	margin-left: 20px;
}

.Pagination a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	transition: .4s;
}

.Pagination a:hover {
	color: #33dcff;
}

.Btn:hover {
	border-color: #33DCFF;
	background-color: transparent;
	color: #33DCFF;
}

.Shell {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.TableActions {
	margin: 20px 0;
	text-align: right;
}

.TableActions button + button {
	margin-left: 25px;
}

.TableTitles {
	padding: 15px 85px 15px 15px;
	border-bottom: 2px solid #ccc;
}

.TableTitles ul {
	display: flex;
	list-style-type: none;
}

.TableTitles li {
	width: 20%;
	font-weight: 700;
	font-size: 18px;
}

.TableBody {
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.ListHolder {
	padding: 15px;
}

.Item {
	position: relative;
	display: flex;
	padding: 10px 70px 10px 0;
	cursor: pointer;
}

.Item p {
	width: 20%;
	font-weight: 500;
	font-size: 16px;
}

.Item + .Item {
	border-top: 1px solid #ccc;
}

.DeleteButton,
.EditButton {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%; 	
	background: #ccc;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
	cursor: pointer;
}

.EditButton {
	right: 40px;
}

.Item.Active .DeleteButton,
.Item.Active .EditButton {
	opacity: 1;
	visibility: visible;
}

.NewMovieFormInner {
	padding: 40px 0;
	text-align: center;
}

.Form {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: 30px auto -30px;
}

.FormControls {
	width: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.FormActions {
	width: 100%;
}

.Form input {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #000;
	border-radius: 0;
	font-size: 16px;
	font-weight: 500;
}

@media(max-width: 1024px){
	.TableTitles li {
		font-size: 14px;
	}

	.Item p {
		font-size: 12px;
	}
}


@media(max-width: 767px){
	.TableTitles {
		padding-right: 20px;
		padding-left: 5px;
	}

	.Shell {
		padding: 0 5px;
	}

	.TableTitles li {
		font-size: 12px;
	}

	.Item {
		padding-right: 15px;
	}

	.ListHolder {
		padding: 15px 5px;
	}

	.EditButton,
	.DeleteButton {
		width: 20px;
		height: 20px;
	}

	.EditButton svg,
	.DeleteButton svg {
		width: 10px;
		height: 10px;
	}

	.EditButton {
		right: 23px;
	}

	.Item p {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 10px;
		padding-right: 5px;
	}	
}
